<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index </title>
    
    <style>
      div{
        float:left;
      }
    </style>
</head>
<body>

  <div>
    <img src="{{movie.poster.url}}" width='300' height='300'>
    <br>
    {% if movie.video and user.is_authenticated %}
      <video controls src='{{ request.scheme }}://{{ request.get_host }}{{ movie.video.url }}'></video>
    {% endif %}
    
    <ul>
        <li> {{movie.name}} </li>
        <li> {{movie.overview}} </li>
        <li> {{movie.year}} </li>

    </ul>
    <ul>
    Categories: 
    {% for category in categories  %}
      <li>  {{ category.name }} </li>
    {% endfor %}
    </ul>
    <br>

   
    <a href="{% url 'update' movie.id %}"> <button> Edit </button> </a>
    
    {% if perms.foo %}
      {% if perms.netflix.delete_movie %}
        <a href="{% url 'delete' movie.id  %}"> <button> Delete </button> </a>
      {% else %}
        <p> You Don't Authorized to Delete This Movie
      {% endif %}
    {% endif %}

    <a href="{% url 'index'  %}"> Back to Home </a>

  </div>

</body>
</html>
